#registration-form{
    padding: 30px;
    border:solid;
    border-width: 0.5px;
}

#form-container{
    border-width: 0.5px;
    height: 150px;
    padding-top:50px;
}
#twitName{
    width: 150px;
}
#twitText {
    width: 500px;
    height: 100px;
    white-space: pre-wrap;
}
#displayTwit {
    margin-top: 155px;
    height: auto;
    border:solid;
    border-width: 0.5px;
    border-color: black;

}

