#registration-form{
    padding: 30px;
    border:solid;
    border-width: 0.5px;
}

#form-container{
    border-width: 0.5px;
    height: 150px;
    padding-top:50px;
}
#twit{
    border-width: 0.5px;
    border-color: black;
    border:solid;
    width: 300px;
}
#displayTwit {
    margin-top: 70px;
    height: auto;
    border:solid;
    border-width: 0.5px;
    border-color: black;

}

